<label for="{{key}}" class="radio-card">
	<input type="radio" name="infusion" value="{{key}}" id="{{key}}" />
	<div class="card-content-wrapper line {{toLowerCase key}}">
		{{!-- <span class="check-icon"></span> --}}
		<div class="card-content">
			<img src="{{img}}" alt=" {{damageType}}" />
			<h4>{{damageType}}</h4>
		</div>
	</div>
</label>